*{
    margin: 0;
    padding: 0;
}
body{
    background: #d4cbd3;
}
.main-box{
    /* border: 1px solid green; */
    margin: 180px auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 700px;
    height: 270px;
    font-family: arial;
}
.box{
    display: flex;
    flex-direction: column;
    padding: 5px 0px 5px 50px;
    align-items: flex-start;
    justify-content: center;
    margin: 2px auto;
    height: 70px;
    width: 40%;
    border-radius: 5px;
    background: rgba(255, 245, 245, .8);
    box-shadow: 5px 5px 5px rgb(143, 143, 143);
    cursor: pointer;
    position: relative;
    transition:  color  .4s ease-in-out;
    font-weight: bold;
    z-index: 1;
    
}
.box p{
    margin-top: 8px;
    font-size: 12px;
}
.box1{
    color: #fd5598;
}
.b1{
    background: #fd5598;
}
.box2{
    color: #9b5ddb;
}
.b2{
    background: #9b5ddb;
}
.box3{
    color: #0eca96;
}
.b3{
    background: #0eca96;
}
.box4{
    color: #5eb8cc;
}
.b4{
    background: #5eb8cc;
}
.box5{
    color: #e5aa51;
}
.b5{
    background: #e5aa51;
}
.box6{
    color: #1dca95;
}
.b6{
    background: #1dca95;
}
.color{
    position: absolute;
    height: 100%;
    width: 10px;
    border: none;
    left: 0;
    border-radius: 5px 0px 0px 5px;
    transition:  width  .4s ease-in-out;
    z-index: -1;
}
.box:hover .color{
    width: 100%;
    border-radius: 5px;
    border: none;
}
.box:hover{
    color: #fff;
}


